.darkSquare {
  background-color: RGB(187, 190, 100);
}

.lightSquare {
  background-color: RGB(234, 240, 206);
}

.piece {
  height: 96px;
  width: 96px;
  position: absolute;
}

.square {
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 96px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 96px;
}

.squareContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.boardContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 768px;
  width: 768px;
}

.boardFlexBox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
