.capturedTitle {
  color: white;
  margin-top: auto;
}

.capturedPiecesContainer {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7fa650;
  height: 450px;
  width: 192px;
}

.playersFlexBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 192px;
}

.piecesFlexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 192px;
  height: 384px;
}

.capturedPiece {
  height: 48px;
  width: 48px;
}
