.capturedTitle {
  color: white;
  margin-top: auto;
}

.capturedPiecesContainer {
  margin-left: auto;
  margin-right: auto;
  background-color: #7fa650;
  height: 550px;
  width: 384px;
}

.playersFlexBox {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 384px;
}

.piecesFlexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 192px;
  height: 480px;
}

.capturedPiece {
  height: 96px;
  width: 96px;
}
