.statusMsg {
  color: white;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Timers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
